---
import { Image } from "astro:assets";
import ccaLogo from "../media/cca-lockup.svg"
---

<section class="footer">
  <div class="footer__content">
    <a href="https://cca.edu" target="_blank">
      <Image 
        class="footer__logo"
        src={ ccaLogo }
        alt="CCA Logo"
        width="350"
        format="webp"
      />
    </a>
    <p class="footer__label">CCA IxD Showcase 2024</p>
    <p class="footer__body">©2024, California College of the Arts, unless otherwise noted</p>

    <hr />

    <section class="footer__links">
      <a class="footer__link" href="/">Home</a>
      <a class="footer__link" href="/projects/">Projects</a>
      <a class="footer__link" href="/people/">Designers</a>
    </section>
  </div>
</section>

<style lang="scss">
  .footer {
    text-align: center;
    border-top: 1px solid #E5E7EB;
    margin-top: 100px;

    &__content {
      max-width: 544px;
      margin: 64px auto;
    }

    & hr {
      margin: 32px 0;
    }

    &__logo {
      width: 300px;
      height: auto;
      margin-bottom: 25px;
    }

    &__label {
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;

      color: #000000;

      margin-bottom: 16px;
    }

    &__body {
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;

      color: #6B7280;
    }

    &__link {
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;

      color: #374151;
    }

    &__links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;
      justify-content: center;
    }
  }
</style>
