---
---
<section class="footer">
  <div class="footer__content">
    <p class="footer__label">Digital IXD Senior Showcase</p>
    <p class="footer__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci sit ultrices dui a purus. Quam adipiscing</p>

    <hr />

    <section class="footer__links">
      <a class="footer__link" href="/">Home</a>
      <a class="footer__link" href="/projects/">Projects</a>
      <a class="footer__link" href="/people/">Designers</a>
    </section>
  </div>
</section>

<style lang="scss">
  .footer {
    text-align: center;
    border-top: 1px solid #E5E7EB;
    margin-top: 100px;

    &__content {
      max-width: 544px;
      margin: 64px auto;
    }

    & hr {
      margin: 32px 0;
    }

    &__label {
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;

      color: #000000;

      margin-bottom: 16px;
    }

    &__body {
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;

      color: #6B7280;
    }

    &__link {
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;

      color: #374151;
    }

    &__links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;
      justify-content: center;
    }
  }
</style>
