---
import { Image } from "astro:assets";
//import placeholderImage from "../media/placeholder-image.jpg";
import brokenLinkImage from "../media/brokenlink-image.png";

const { title, designer, imageSrc, slug } = Astro.props;

// For astro js processed images
const projectImages = import.meta.glob("/src/media/projects/**/*.{jpeg,jpg,png,gif,heic}");

let imageSrcWithProjectPath = `/src/media/projects/${ slug }/${ imageSrc }`;
let processedImage = projectImages[ imageSrcWithProjectPath ];
---

<a class="project" href={`/projects/${ slug }/`}>
  <!-- use broken link image if not found -->
  { typeof processedImage !== "undefined" ? (
    <Image
      src={ projectImages[ imageSrcWithProjectPath ]() }
      alt={`Image of ${ designer }s project ${ title }` }
      width="1440"
      format="webp"
    />
  ) : (
    <Image
      src={ brokenLinkImage }
      alt={`Image of ${ designer }s project ${ title }` }
      width="1440"
      format="webp"
    />
  )}
    
  <h3 class="project__title">{ title }</h3>
  <p class="project__team">{ designer }</p>
</a>

<style lang="scss">
  .project {
    display: block;
    padding-bottom: 32px;
    break-inside: avoid-column;

    &__title {
      color: #000000;
      text-decoration: none;
      font-family: "Raleway";
      font-weight: 600;
      font-size: 26px;
      margin-bottom: 10px;
    }
    &__team {
      color: #222222;
      text-decoration: underline;
      text-decoration-color: #222222;
      font-family: "Raleway";
      font-weight: 700;
      font-size: 20px;
    }
    img {
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
  }
</style>
